*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face{
	font-family: roboto;
	src: url(../assets/fonts/roboto/Roboto-Regular.ttf);
}

html, body{
	width: 100%;
	height: 100%;
	font-family: roboto;
}

#AppContainer{
	width: 100%;
	height: 100%;
}

#AppContainer img{
 position: absolute;
 width: 100%;
 height: 100%;
 z-index: -1;
}

#topMenu{
width: 100%;
height: 10%;
background-color: rgba(0,0,0,.6);
border-bottom: 1px solid rgba(158,149,149,.6);
display: block;
font-size: 18px;
text-align: right;
padding-top: 10px;
padding-left: 25px;

}

#topMenu .ion-person{
	font-size: 22px;
}

#topMenu a:link, a:visited,a:active{
	text-decoration: none;
	padding-right: 20px;
	color: #fff;
}

#topMenu a:hover{
	text-decoration: none;
	color: #FFF;
}

#logo{
	float: left;
	height: 100%;
	padding-left: 25px;
}

#logo img{
 height: 40px;
 width: 120px;
 z-index: 1;
}

.iniciar{
	height: 85%;
	display: table;
	margin: auto auto;
	padding-top: 50px;
	text-align: center;
}

.iniciar input[type="text"], .iniciar input[type="password"] {
width: 350px;
height: 30px;
font-size: 16px;
padding-left: 20px;
border: solid 1px #dcdcdc;
transition: box-shadow 0.3s, border 0.3s;
}

.iniciar input[type="text"]:focus, .iniciar input[type="password"]:focus  {
border: solid 1px #707070;
box-shadow: 0 0 5px 1px #969696;
}

#contText{
width: 30%;
padding-top: 5%;
padding-left: 3%;
}

#titulo{
font-size: 35px;
font-weight: bold;
color: #333;

}

.textos{
font-size: 20px;
padding-top: 15px;
text-align : justify;
color: #333;

}

.panelIzq{
float: left;
height: 100%;
width: 15%;
background-color: rgb(34,34,34);
}

.subir, .eliminar, .crear-lista, .anadir-lista, .eliminar-lista, .editar-perfil{
	cursor:pointer;
	height: 35px;
	padding-top: 10px;
	font-size: 15px;
	padding-left: 20px;
	text-align: left;
}


.subir:hover, .eliminar:hover, .crear-lista:hover, .anadir-lista:hover, .eliminar-lista:hover, .editar-perfil:hover{
	background-color: rgb(17,17,17);
	color: rgb(69,187,230);
}

.barraH{
	color:#fff;

}
#bandLogin{
width: 100%;
height: 15%;
border: 1px solid #dcdcdc;
}

#bandLogin img{
display: table;
margin: auto auto;
padding-top: 10px;
height: 90%;
}

.registroLogin{
	display: inline-block;
	width: 100%;
	padding-top: 10px;
	font-size: 18px;
}

.registroLogin a:link, a:visited,a:active{
	text-decoration:none;
	padding-right: 20px;
	color: rgb(69,187,230);
	font-size: 18px;
}

.workspace{
	float: right;
	width: 85%;
	height: 100%;
	background-color: rgb(241,241,241);
}

.carrito{
    float:right;
    width: 100%;
    height: 7%;
    background-color: rgb(150,150,150);
}

.area{
	position: absolute;
	border: solid 1px #dcdcdc;
	width: 50%;
	height: 50%;
	margin: auto;
	top: 0; bottom: 0; left: 150px; right: 0;
    background-color: #fff;
	color: #969696;
}

.controF input[type="text"],.area input[type="date"], .controF input[type="password"], .controF select {
width: 250px;
height: 30px;
font-size: 16px;
padding-left: 20px;
border: solid 1px #dcdcdc;
transition: box-shadow 0.3s, border 0.3s;
}

.controF input[type="text"]:focus, .controF input[type="password"]:focus, .controF select:focus {
border: solid 1px #707070;
box-shadow: 0 0 5px 1px #969696;
}

.controF input[type="file"]{
	width: 157px;
	height: 30px;
	font-size: 15px;
	overflow: hidden;
	padding-left: 10px;
} 

.controF{
	height: 100%;
	display: table;
	margin: auto auto;
	padding-top: 20px;
	text-align: center;
}
.tituloP{
	display: block;
	border: 1px solid #dcdcdc;
	color: #666;
	padding-left: 20px;
    padding-top: 10px;
    height: 40px;
}

.btn{
margin-top: 40px;
border-radius: 40px 40px 40px 40px;
background-color: rgb(69,187,230);
color: #fff;
font-size: 18px;
cursor: pointer;
border: 0px solid rgb(69,187,230);
}

.btn:hover{
	background-color: rgb(29,147,190)
}

.active{
	background-color: black;
	color: white;
}

.hidden{
	display: none;
}

.foto-perfil{
color: #fff;
background-color: #000;
padding-left: 20px;
padding-bottom: 5px;
padding-top: 5px;
font-size: 25px;
}

.foto-perfil:hover{
cursor: pointer;

}

.area, .subirF, .crearF, .anadirF{

	display: none;
}

.contenedorImagen{
    height: 150px;
    width: 150px;
     
}
.contenedorImagen img{
     height: 100%;
    width: 100%; 
   
}

.imagen{
    display: inline-block;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.imagen img{
    display: inline-block;
    height: 100%;
    width: 100%;
}